<!DOCTYPE html>
<html>
  <head>
    <title>Liste des produits</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <h1>Liste des produits</h1>
    <ul>
      {{#each products}}
        <li>
          <span>{{name}}</span>
          <span>{{description}}</span>
          <span>Prix : {{price}} €</span>
          <span>Quantité disponible : {{quantity}}</span>
          <form method="POST" action="/products/{{id}}">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Supprimer</button>
          </form>
        </li>
      {{/each}}
    </ul>
    <form method="POST" action="/products">
      <input type="text" name="name" placeholder="Nom du produit">
      <input type="text" name="description" placeholder="Description">
      <input type="number" name="price" placeholder="Prix">
      <input type="number" name="quantity" placeholder="Quantité">
      <button type="submit">Ajouter un produit</button>
    </form>
  </body>
</html>
